 <% 5.times do |num| %>
  <article>
    <div class="row">
      <div class="small-3 columns">
        <img src="<%= lorem.image('100x60') %>" alt="lorem" />
      </div>
      <div class="small-9 columns">
        <small><%= lorem.date %></small>
        <h5><a href="#"><%= lorem.words 4 %></a></h5>
        <p><%= lorem.sentences 2 %></p>
      </div>
    </div>
  </article>
  <hr />
  <% end %>