<% wrap_layout :masterlayout do %>

<div id="main" role="main">
	<!-- Main Page Content -->

	<div class="row">

		<div class="small-12 large-6 columns">

			<%= yield %>

		</div>

	</div>

</div>

<% end %>