<% content_for :head do %>
<title>Place page title here</title>
<% end %>

<% content_for :foot do %><% end %>

<div class="row">
  <div class="small-12 large-12 columns">
    <!-- Basic orbit markup -->
    <ul data-orbit>
      <li>
        <img src="http://placehold.it/970x350" alt="Lorem" />
        <div class="orbit-caption">Caption 1</div>
      </li>
      <li>
        <img src="http://placehold.it/970x350" alt="Lorem" />
        <div class="orbit-caption">Caption 2</div>
      </li>
      <li>
        <img src="http://placehold.it/970x350" alt="Lorem" />
        <div class="orbit-caption">Caption 3</div>
      </li>
    </ul>
  </div>
</div>

<div class="row">

  <% 4.times do |num| %>
  <div class="small-12 large-3 columns">
    <h5><a href="#"><%= lorem.words 3 %></a></h5>
    <p><%= lorem.sentences 2 %></p>
    <a href="#">View more</a>
  </div>
  <% end %>

</div>