<div class="section-container tabs" data-section="tabs">
  <section class="section">
    <p class="title"><a href="#">Section 1</a></p>
    <div class="content">
      <p>Content of section 1.</p>
    </div>
  </section>
  <!--Add class last-child on the final tab to make this work correctly in ie8-->
  <section class="section">
    <p class="title"><a href="#">Section 2</a></p>
    <div class="content">
      <p>Content of section 2.</p>
    </div>
  </section>
</div>